@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    transition: all .1s linear;
}

.mobile-menu-container {
    display: none;
}

header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #d6d2c9;
    background-color: #fffdf8;
    z-index: 500;
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
}

.navbar #navbar-logo {
    max-width: 150px;
}

.navbar {
    position: relative;
}

.menu-item {
    cursor: pointer;
    padding: 10px 0 16px 0;
    border-bottom: 2px solid transparent;
}

.menu-item:hover,
.navbar .nav .menu-item.active {
    border-color: #031f39;
}

.menu-item span,
.menu-item a {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
    text-decoration: none;
    color: #031f39;
}

.navbar .nav .mega-menu-container {
    position: absolute;
    left: 63%;
    transform: translateX(-50%);
    width: 100dvw;
    padding: 20px;
    background-color: #fffdf8;
    top: 110%;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .0509803922);
}

.navbar .nav .menu-item:hover .mega-menu-container {
    opacity: 1;
    top: 90%;
    z-index: 4;
    pointer-events: all;
}

.navbar .nav .menu-item i {
    transition: all 0.3s ease;
}

.navbar .nav .menu-item:hover i {
    transform: rotate(180deg);
}

.navbar .nav .mega-menu-container h6 {
    color: #6c6965;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid #d6d2c9;
    margin-bottom: 16px;
    padding-bottom: 8px;
}

.navbar .nav .mega-menu-body {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.navbar .nav .mega-menu-body a {
    flex: 0 0 calc(33% - 20px);
    font-weight: 700;
    font-size: 14px;
    line-height: 19.49px;
    color: #031f39;
    margin-bottom: 12px;
    padding: 8px 16px;
    transition: all .3s ease;
    border-radius: 8px;
    text-decoration: none;
}

.navbar .nav .mega-menu-body a:hover {
    background: #eeeae3;
    color: #2a5bd7;
}

.navbar #login-menu .btn-outline-primary {
    border-color: #0058dd !important;
    border-width: 2px !important;
    color: #0058dd !important;
    padding: 5px 15px !important;
    font-weight: 600;
    font-size: 18px;
    transition: all .3s ease;
}

.navbar #login-menu .btn-outline-primary:hover {
    border-color: #0058dd !important;
    background-color: #0058dd !important;
    color: #fff !important;
}

.navbar #login-menu .btn-primary {
    border-color: #0058dd !important;
    background-color: #0058dd !important;
    color: #fff !important;
    padding: 5px 15px !important;
    font-weight: 600;
    font-size: 18px;
    transition: all .3s ease;
    border: 2px solid #0058dd !important;
}

.navbar #login-menu .btn-primary:hover {
    background-color: white !important;
    color: #0058dd !important;
}

/* hero section *****************************************/
.hero-section {
    padding-top: 100px;
}
.hero-section .hero-img img {
    max-width: 100%;
}

.hero-section .text-content-hero h1 {
    color: #252628;
    font-size: 62px;
    font-weight: 800;
    line-height: 56px;
}

.hero-section .text-content-hero h2 {
    color: #56575b;
    font-size: 24px;
    font-weight: 400;
}

.hero-section .text-content-hero .get-start-btn {
    font-size: 20px;
    line-height: 1.11;
    padding: 18px 30px;
    background: #2a5bd7;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    padding: .6em 1em;
}


.hero-section .gallery img {
    object-fit: contain;
}


/* connections ********************************* */
.connections {
    padding: 40px 0 60px 0;
    background: #f5f6f7;
    font-size: 20px;
    line-height: 22px;
}

.connections .head {
    padding-bottom: 30px;
}

.connections .head h6 {
    color: #ff6116;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 22px;
}

.connections .head h4 {
    color: #252628;
    font-size: 38px;
    font-weight: 800;
    line-height: 40px;
    text-align: center;
}

.connections .block-content .tab {
    border-top: 3px transparent solid;
    border-bottom: 0;
    border-left: 3px transparent solid;
    border-right: 3px transparent solid;
    border-radius: 12px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 16px 24px;
    transition: all 300ms;
    color: #36383b;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    position: relative;
    z-index: 1;
    text-decoration: none !important;
    top: 3px;
    background-color: transparent;
}

.connections .block-content .tabs .tab:not(.active):hover {
    background-color: #0000000f;
    color: #1779ba;
}

.connections .block-content .tab.active {
    border-color: #e8e9eb;
    background-color: white;
    z-index: 2;
}

.connections .block-content .tabs-content {
    border: 3px #e8e9eb solid;
    border-radius: 16px;
    padding: 30px 40px 30px 40px;
    background: #fff;
    box-shadow: 0 1px 4px rgba(21, 27, 38, .12);
    transition: all .5s ease;
    max-width: 1050px;
    margin: 0 auto;
}

.connections .tabs-content .tabs-panel .tab-intro p {
    color: #2a2e30;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 32px;
    padding-bottom: 20px;
}

.connections .tabs-content .tab-form form label {
    position: relative;
    color: #252628;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
}

.connections .tabs-content .tab-form form .hook_url {
    background: #fff;
    border: 1px solid #d3d4d7;
    border-radius: 8px;
    padding: 16px 20px;
    font-size: 20px;
    line-height: 24px;
    height: auto;
    margin-top: 8px;
    margin-bottom: 20px;
    box-shadow: none;
    outline: none !important;
    width: 100%;
}

.connections .tabs-content .tab-form form .form-btn {
    background: #2a5bd7;
    border-radius: 6px;
    color: #fff;
    transition: background 100ms linear;
    text-decoration: none;
    outline: none !important;
    font-size: 20px;
    line-height: 1.11;
    padding: 18px 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
}

.connections .tabs-content .block-footer p {
    font-size: 24px;
    font-weight: 500;
}

.connections .QR-code-content {
    display: none;
}

.connections .landing-page-content {
    display: none;
}

/* Connections-Platform ********************************* */
.Connections-Platform {
    padding: 50px 0;
}

.Connections-Platform {
    padding-bottom: 45px;
    padding-right: .9375rem;
    padding-left: .9375rem;
}

.Connections-Platform h3 {
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: #2a2e30;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 32px;
}

.Connections-Platform h5 {
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: #56575b;
    font-size: 20px;
    font-weight: 400;
}

.Connections-Platform .Platform-container .Platform-box {
    border: 1px #000 solid;
    border-radius: 20px;
    padding: 50px 20px;
    padding-bottom: 30px;
    width: calc(33.33333% - 1.875rem);
}

.Connections-Platform .Platform-container .Platform-box h5 {
    height: 70px;
    text-align: left;
}

.Connections-Platform .Platform-container .Platform-box h5 img {
    margin-right: 20px;
}

hr {
    margin: 30px 0;
    border-color: #eff0f2;
    clear: both;
    height: 0;
    margin: 1.25rem auto;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #cacaca;
    border-left: 0;
}

.Connections-Platform .Platform-container .Platform-box p {
    min-height: 70px;
    font-size: 16px;
    line-height: 19px;
    color: #56575b;
    text-align: left;
}

.Connections-Platform .Platform-container .Platform-box h6 {
    font-size: 16px;
    font-weight: 700;
    color: #1d1f21;
    text-align: left;
}

.Connections-Platform .Platform-container .Platform-box ul {
    padding-left: 0;
    margin-top: 10px;
}

.Connections-Platform .Platform-container .Platform-box li {
    font-size: 16px;
    line-height: 22px;
    color: #56575b;
    background-position: left top;
    margin-bottom: 20px;
    list-style: none;
}

.Connections-Platform .Platform-container .Platform-box a {
    text-decoration: none;
    text-align: center;
    color: #2a5bd7;
    display: block;
}

.Connections-Platform .Platform-container .Platform-box a.Platform-btn {
    background: #2a5bd7;
    border-radius: 6px;
    font-size: inherit;
    color: #fff;
    text-decoration: none;
    line-height: normal;
    outline: none !important;
    padding: .7em 1em;
    margin: 0 0 1rem 0;
}

/* global stats ******************************** */
.global-stats {
    padding: 50px 0;
}

.global-stats .left-img img {
    max-width: 100%;
    margin-bottom: 20px;
    height: auto;
}

section.global-stats tr {
    border-bottom: 1px solid #eff0f2;
}

section.global-stats td {
    font-size: 20px;
    line-height: 22px;
    width: 70% !important;
    vertical-align: center;
    padding: .5rem .625rem .625rem;
}

section.global-stats tr>td:first-child {
    text-align: right;
    padding-right: 20px;
    width: 30% !important;
}

section.global-stats tr>td:first-child h3 {
    color: #252628;
    font-weight: 800;
    line-height: 40px;
    font-size: 40px;
}

/* testimonial *********************************** */
.testimonial {
    padding: 50px 0;
}

.testimonial h3 {
    text-align: center;
    margin-bottom: 15px;
    color: #2a2e30;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 32px;
}

.testimonial .testimonial-container .testimonial-item {
    border: 1px #000 solid;
    border-radius: 30px;
    margin-bottom: 2px;
    position: relative;
    background-color: #fff;
    padding: 46px;
    padding-bottom: 31px;
    padding-top: 40px;
}

.testimonial .testimonial-container .testimonial-content {
    color: #252628;
    font-size: 32px;
    font-weight: 800;
    line-height: 39px;
    margin-bottom: 40px;
}

.testimonial .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid black;
    background-color: #cedafa;
}

.testimonial .swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    top: 82%;
}

/* accordion *********************************************** */
.accordion-section {
    padding: 50px 0;
}

.accordion-section .accordion-head h4 {
    color: #2a2e30;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 32px;
    text-align: center;
}

.accordion-section .accordion-head h4 {
    color: #2a2e30;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 32px;
    text-align: center;
}

.accordion-section .accordion .accordion-button:focus {
    box-shadow: none;
    background-color: #e6e6e6;
}

.accordion-section .accordion .accordion-button::after {
    background-image: var(--bs-accordion-btn-icon);
    margin-right: auto;
    margin-left: 0;
    position: absolute;
    left: 50px;
}

.accordion-section .accordion .accordion-item {
    border: 0;
    border-bottom: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
}

.accordion-section .accordion .accordion-body {
    padding-left: 90px;
    color: #0a0a0a;
    line-height: 1.4em;
    font-size: 16px;
}

.accordion-section .accordion .accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1.25rem 1rem;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 22px;
    color: #1d1f21;
    text-align: left;
    background-color: var(--bs-accordion-btn-bg);
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
    padding-left: 90px;
}


/* newsLiter **************************** */
.newsLiter {
    padding: 5rem 0;
    background-color: #0b1736;
}

.newsLiter h3 {
    font-size: 38px;
    font-weight: 800;
    line-height: 40px;
    text-align: center;
    color: white;
}

.newsLiter a {
    font-size: 20px;
    line-height: 1.11;
    padding: 18px 30px;
    background: #2a5bd7;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
}

/* footer *************** */

footer {
    padding: 5rem 0;
}

footer .box h6 {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #36383b;
    margin-bottom: 16px;
}

footer .box p {
    max-width: 290px;
}

footer .box ul {
    padding-left: 0;
}

footer .box ul li {
    list-style: none;
}

footer .box a {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #1d1f21;
    display: inline-block;
    margin-bottom: 12px;
    position: relative;
    text-decoration: none;
}

footer .box a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #1d1f21;
    height: 1px;
    width: 0;
    transition: all 0.3s linear;
}

footer .box a:hover:before {
    width: 100%;
}

footer .bottom-footer .social-box a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    width: 40px;
    height: 40px;
    color: #56575b;
    font-size: 30px;
    transition: all 0.3s ease;
}

footer .bottom-footer .social-box a:hover {
    background-color: #d6d2c9;
}

footer .bottom-footer .small {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    color: #1d1f21;
    margin: 0;
}

/* ***************************************************************************************/
/* QR Code Page */

header.qr-page .menu-item span,header.qr-page .menu-item a {
    color: white;
}
header.sticky.qr-page .menu-item span,header.sticky.qr-page .menu-item a {
    color:#031f39;
}
header.qr-page .navbar #login-menu .btn-outline-primary {
    border-color: #fff !important;
    color: #fff !important;
}
header.qr-page .navbar #login-menu .btn-outline-primary:hover {
    background-color: #031f397a !important;
}
header.qr-page .navbar #login-menu .btn-primary {
    border-color: #fff !important;
    background-color: #fff !important;
    color: #031f39 !important;
    padding: 5px 15px !important;
    font-weight: 600;
    font-size: 18px;
    transition: all .3s ease;
    border: 2px solid #fff !important;
}
header.sticky.qr-page .navbar #login-menu .btn-outline-primary {
    border-color: #031f39 !important;
    color: #031f39 !important;
}
header.sticky.qr-page .navbar #login-menu .btn-primary {
    background-color: #031f39 !important;
    color: #fff !important;
}
/* hero qr page ******************************************** */
.qr-hero {
    padding: 200px 0;
    
}
.qr-hero .text-hero p {
    color: #FF950A;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.28px;
    margin-bottom: 1rem;
}
.qr-hero .text-hero h1 {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    color: white;
    font-size: 48px;
    line-height: 120%;
    font-weight: 700;
    text-align: center;
    background-image: url(./images/stars-effects.svg);
}
.qr-hero .text-hero h6 {
    text-align: center;
    font-weight: 400;
    text-wrap: balance;
    color: #fffdf8;
    font-size: 24px;
    line-height: 160%;
}
.qr-hero .form-qr-container form .d-flex {
    margin-bottom: .4rem;
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
}
.qr-hero .form-qr-container form input {
    background-color: transparent;
    border-color: #92908a;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
    color: #fffdf8;
    border: 1px solid #d3d4d7;
    padding: 16px 20px;
    font-size: 20px;
    line-height: 24px;
    height: auto;
    outline: none;
    flex-grow: 1;
}
.qr-hero .form-qr-container form button {
    background-color: #fffdf8;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    color: #031f39;
    font-size: 20px;
    font-weight: 600;
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
    white-space: nowrap;
    line-height: normal;
    outline: none ;
    padding: .6em 1em;
    border: 0;
}

/* main *************************************** */
/* brands section ************ */
.main-qr-page {
    background-color: #fffdf8;
}

.brands h6.head {
    text-align: center;
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: 600;
    line-height: 120%;
    color: #031f39;
    margin-top: 30px;
}

/* main content section ************************** */
.main-content-qr .header h4 {
    font-size: 48px;
    text-align: center;
    font-weight: 700;
    line-height: 120%;
    color: #031f39;
}
.header .get-started-btn a {
    background-color: #0058dd;
    color: #fffdf8;
    line-height: 24px;
    transition: all 200ms;
    font-size: 20px;
    font-weight: 600;
    padding: 14px 20px ;
    border-radius: 18px;
    text-decoration: none;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.4s ease;
}
.header .get-started-btn a:hover {
    background-color: #031f39;
}
.header .get-started-btn a i {
    font-size: 30px;
}


.main-content-qr .qr-content-box .text-box {
    width: calc(100% - 1.875rem);
}
.main-content-qr .qr-content-box .text-box h5 {
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    color: #031f39;
}
.main-content-qr .qr-content-box .text-box p {
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    color: #031f39;
    margin-bottom: 1rem;
}
.main-content-qr .qr-content-box .text-box ul {
    border-top: 1px solid #e8e9eb;
    padding-top: 24px;
    padding-bottom: 32px;
    padding-left: 0;
    color: #1d1f21;
    font-size: 16px;
}
.main-content-qr .qr-content-box .text-box li {
    display: flex;
    gap: 10px;
    font-weight: 400;
    margin-bottom: 10px;
}
.main-content-qr .qr-content-box .text-box li i {
    color: #ee6123;
    font-size: 24px;
}
.main-content-qr .qr-content-box .img-box {
    background-color: #eeeae3;
    border-radius: 16px;
    width: calc(100% - 1.875rem);
}
.main-content-qr .qr-content-box .img-box img {
    width: 100%;
    border: 1px solid #eeeae3;
    border-radius: 16px;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}


/* Connections qr section ************************ **/
.Connections-qr {
    background-color: #f7f4ee;
}
.Connections-qr .header {
    max-width: 970px;
    margin: 50px auto;
}
.Connections-qr .header h4 {
    font-size: 48px;
    text-align: center;
    font-weight: 700;
    line-height: 120%;
    color: #031f39;
}
.Connections-qr .header p {
    line-height: 160%;
    color: #031f39;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    text-wrap: balance;
    margin-bottom: 50px;
}
.Connections-qr .cards-container .card-price {
    padding-bottom: 200px;
    margin-bottom: 1rem;
    border: 1px solid #bab7b0;
    max-width: 728px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    background-color: #eeeae3;
    border-radius: 24px;
    transition: all .3s ease;
    color: #0a0a0a;
    flex-grow: 1;
    position: relative;
}
.Connections-qr .cards-container .card-price .card-img img {
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
.Connections-qr .cards-container .card-price .card-section {
    position: absolute;
    top: calc(100% - 195px);
    left: 0;
    width: 100%;
    padding: 24px;
    border: 1px solid #bab7b0;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color: #fffdf8;
    border-radius: 24px;
    width: 100%;
    bottom: 0;
    z-index: 1;
    color: #031f39;
    transition: all .5s ease;
}
.Connections-qr .cards-container .card-price:hover .card-section {
    top: 28%;
}
.Connections-qr .cards-container .bx-up-arrow-alt {
    transition: all .5s ease;
}
.Connections-qr .cards-container .card-price:hover .bx-up-arrow-alt {
    transform: rotate(180deg);
}

.Connections-qr .cards-container .card-price .card-section h5 img {
    margin-right: 15px;
}
.Connections-qr .cards-container .card-price .card-section h5 {
    font-size: 24px;
    color: #031f39;
    line-height: 120%;
    font-weight: 600;
}
.Connections-qr .cards-container .card-price .card-section i {
    font-size: 30px;
    color: #031f39;
    font-weight: 600;
}
.Connections-qr .cards-container .card-price .card-section p {
    min-height: 90px;
    margin-top: 20px;
}
.Connections-qr .cards-container .card-price .card-section .bottom-card h6 {
    margin-bottom: 1rem;
    font-size: inherit;
    line-height: 1.4em;
    text-rendering: optimizeLegibility;
    font-size: 18px;
    color: #031f39;
}

.Connections-qr .cards-container .card-price .card-section .bottom-card ul {
    list-style: none;
    padding-left: 0;
}
.Connections-qr .cards-container .card-price .card-section .bottom-card ul i {
    font-size: 20px;
    color: #ee6123;
}
.Connections-qr .cards-container .card-price .card-section .bottom-card ul li {
    margin-bottom: 8px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    gap: 10px;
}
.Connections-qr .cards-container .card-price .card-section .bottom-card a {
    display: block;
    background-color: #0058dd;
    border: 2px solid rgba(0, 0, 0, 0);
    color: #fffdf8;
    line-height: 24px;
    padding: 8px 20px;
    border-radius: 8px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    transition: all 200ms;
    margin-bottom: 10px;
}

.Connections-qr .cards-container .card-price .card-section .bottom-card a:last-child {
    background-color: white;
    border-color: #0058dd;
    color: #0058dd;
}
.Connections-qr .cards-container .card-price .card-section .bottom-card a:hover {
    background-color: #031f39;
    color: white;
    border-color: #031f39;
}



/* responsive ************************** */
.mobile-menu-container button.menu-burger {
    background-color: transparent;
    border: 0;
    outline: 0;
    font-size: 25px;
}

.mobile-menu-container .offcanvas.offcanvas-start {
    max-width: 100vw;
    border-right: 0 !important;
}

.mobile-menu-container .dropdown-menu.show {
    width: 100%;
}

.mobile-menu-container .offcanvas-body {
    background-color: #fffdf8;
}

.mobile-menu-container .offcanvas-body button {
    width: 100%;
    padding: 10px;
    border: 0;
    outline: 0;
    background: #eeeae3;
    color: #2a5bd7;
    border-radius: 8px;
}

.mobile-menu-container .offcanvas-body .price {
    text-decoration: none;
    width: 100%;
    padding: 10px;
    border: 0;
    outline: 0;
    background: #eeeae3;
    color: #2a5bd7;
    border-radius: 8px;
    display: block;
    text-align: center;
}

.mobile-menu-container .offcanvas-body .login-menu a {
    text-decoration: none;
    display: block;
    width: 100%;
    background-color: #0058dd;
    border-radius: 8px;
    color: #fffdf8;
    border: 2px solid #0058dd;
    font-weight: 500;
    padding: 8px;
    font-size: 18px;
    transition: all .3s ease;
    text-align: center;
}

@media (max-width: 768px) {
    #login-menu {
        display: none !important;
    }

    nav.navbar {
        display: none !important;
    }

    .mobile-menu-container {
        display: block;
    }

    .hero-section {
        margin-top: 40px;
    }

    .hero-section .hero-img {
        display: none;
    }

    .hero-section .text-content-hero h1 {
        font-size: 38px;
        line-height: 38px;
    }

    .hero-section .text-content-hero .get-start-btn {
        display: block;
        text-align: center;
        padding: 13px 30px;
        font-size: 16px;
    }

    .hero-section .gallery {
        gap: 15px;
        justify-content: center !important;
    }

    .hero-section .gallery .d-flex {
        flex-grow: 1;
    }

    .hero-section .gallery .d-flex img {
        margin: auto;
    }

    .connections .container {
        padding-left: 0;
        padding-right: 0;
    }

    .connections .head {
        padding-left: 20px;
        padding-right: 20px;
    }

    .connections .head h4 {
        font-size: 32px;
        line-height: 40px;
    }

    .connections .block-content .tabs .tab {
        flex-direction: column;
        padding: 10px;
        font-size: 19px;
        font-weight: 400;
        gap: 2px;
        flex-grow: 1;
    }

    .connections .block-content .tabs .tab i {
        font-size: 24px;
    }

    .connections .block-content .tabs-content {
        padding: 32px 24px;
        border-radius: 0px;
    }

    .connections .tabs-content .tab-form form .form-btn {
        width: 100%;
    }

    .connections .tabs-content .block-footer .gap-4 {
        flex-direction: column;
        align-items: start !important;
    }

    .connections .landing-page-content form .d-flex {
        margin-top: 20px;
        flex-direction: column;
        gap: 0px !important;
    }

    .Connections-Platform h3 {
        margin-bottom: 20px;
    }

    .Connections-Platform .Platform-container {
        flex-direction: column;
    }

    .Connections-Platform .Platform-container .Platform-box {
        width: 100%;
    }

    .global-stats .container {
        flex-direction: column;
    }

    .testimonial .testimonial-container .testimonial-item {
        padding: 40px 15px;
    }

    .testimonial .testimonial-container .testimonial-content p {
        font-size: 20px;
    }

    .accordion-section .accordion .accordion-button::after {
        left: 20px;
    }

    .accordion-section .accordion .accordion-button {
        padding-left: 60px;
    }

    .accordion-section .accordion .accordion-body {
        padding-left: 30px;
    }

    .newsLiter h3 {
        font-size: 32px;
    }

    footer {
        padding-bottom: 20px;
    }

    footer .top-footer {
        gap: 1rem !important;
    }

    footer .bottom-footer {
        flex-direction: column;
        gap: 15px;
        padding-top: 0 !important;
    }

    footer .bottom-footer p {
        text-align: center;
    }
}